#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// Leyer
#define ARROW 1
#define NUM 2
#define AHK 3
#define FUNCTION 4

// Japanese key definitions (reference only)
// JP_MINUS  = MINUS        // -
// JP_CARET  = EQUAL        // ^
// JP_YEN    = INT3         // ¥
// JP_AT     = LBKT         // @
// JP_LBKT   = RBKT         // [
// JP_EISU   = CAPS         // Eisu (英数)
// JP_SEMI   = SEMI         // ;
// JP_COLON  = SQT          // :
// JP_RBKT   = NUHS         // ]
// JP_COMMA  = COMMA        // ,
// JP_DOT    = DOT          // .
// JP_SLASH  = SLASH        // /
// JP_BSLH   = INT1         // (backslash)
// JP_MHEN   = INT5         // Muhenkan (無変換)
// JP_HENK   = INT4         // Henkan (変換)
// JP_EXCL   = LS(N1)       // !
// JP_DQT    = LS(N2)       // "
// JP_HASH   = LS(N3)       // #
// JP_DLLR   = LS(N4)       // $
// JP_PRCNT  = LS(N5)       // %
// JP_AMPS   = LS(N6)       // &
// JP_SQT    = LS(N7)       // '
// JP_LPAR   = LS(N8)       // (
// JP_RPAR   = LS(N9)       // )
// JP_EQUAL  = LS(MINUS)    // =
// JP_TILDE  = LS(EQUAL)    // ~
// JP_PIPE   = LS(INT3)     // |
// JP_GRAVE  = LS(LBKT)     // `
// JP_LBRC   = LS(RBKT)     // {
// JP_CAPS   = LS(CAPS)     // Caps Lock
// JP_PLUS   = LS(SEMI)     // +
// JP_ASTRK  = LS(SQT)     // *
// JP_RBRC   = LS(NUHS)    // }
// JP_LT     = LS(COMMA)   // <
// JP_RT     = LS(DOT)     // >
// JP_QMARK  = LS(SLASH)   // ?
// JP_UNDER  = LS(INT1)    // _

/ {
    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
        my_sp: my_sp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp INT5>
                , <&macro_tap &kp LS(N3)>
                ;
        };
        my_dq: my_dq {
            #binding-cells = <0>;
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp INT5>
                , <&macro_tap &kp LS(N2)>
                , <&macro_tap &kp LS(N2)>
                ;
        };
        my_sq: my_sq {
            #binding-cells = <0>;
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp INT5>
                , <&macro_tap &kp LS(N7)>
                , <&macro_tap &kp LS(N7)>
                ;
        };

        my_kakko: my_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp INT5>
                , <&macro_tap &kp LS(N8)>
                , <&macro_tap &kp LS(N9)>
                ;
        };
        my_br: my_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp INT5>
                , <&macro_tap &kp LS(COMMA)>
                , <&macro_tap &kp B>
                , <&macro_tap &kp R>
                , <&macro_tap &kp LS(DOT)>
                ;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tap-ms = <20>;
        };
        rot_mkp: sensor_rotate_mkp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mkp>, <&mkp>;
            tap-ms = <20>;
        };
        mouse_scroll: mouse_wheel_scrl{
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
        mouse_scroll2: mouse_wheel_scrl2{
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp TAB     &kp Q      &kp W    &kp E   &kp R   &kp T                                       &kp RIGHT
                &kp LALT    &kp A      &kp S    &kp D   &kp F   &kp G                                       &kp LEFT
                &kp LSHIFT  &kp Z      &kp X    &kp C   &kp V   &kp B                            &kp C_MUTE &kp DOWN
                &kp LCTRL   &kp LWIN   &kp LALT &lt_to_layer_0 4 TAB                &kp DEL      &kp ESC    &kp UP
                                                &kp BSPC   &kp SPACE   &lt_to_layer_0 2 INT4     &kp PSCRN  &none
                &bootloader &kp D &kp C   &kp D     &bt BT_SEL 4  &bt BT_SEL 5   &bt BT_SEL 6                   &bt BT_CLR

                &kp UP                              &kp Y       &kp U          &kp I          &kp O        &kp P         &kp INT3
                &kp DOWN                             &kp H       &kp J          &kp K          &kp L        &kp SEMI      &kp SQT
                &kp RIGHT  &kp PSCRN                 &kp N       &kp M          &kp COMMA      &kp DOT      &kp SLASH     &kp RSHIFT
                &kp LEFT    &mkp LCLK  &mkp RCLK                                 &lt_to_layer_0 3 ESC        &kp RBKT      &kp NUHS      &kp LBKT
                &none  &mkp MCLK  &lt_to_layer_0 1 INT5  &kp ENTER   &kp MINUS
                &bt BT_CLR_ALL             &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3    &bt BT_SEL 4   &bt BT_SEL 5   &bt BT_CLR   &bootloader 
            >;
            sensor-bindings = <&mouse_scroll2 SCRL_UP SCRL_DOWN &mouse_scroll SCRL_DOWN SCRL_UP>;
        };
        ARROW {
            bindings = <
                &kp TAB     &kp Q      &kp W    &kp E   &kp R   &kp T                          &kp RIGHT
                &kp LALT    &kp A      &kp S    &kp D   &kp F   &kp G                          &kp LEFT
                &kp LSHIFT  &kp Z      &kp X    &kp C   &kp V   &kp B               &kp C_MUTE &kp DOWN
                &kp LCTRL   &kp LWIN   &kp LALT &kp TAB                &kp C_MUTE   &kp ESC    &kp UP
                                                &kp BSPC   &kp SPACE   &kp INT4     &kp PSCRN  &none
                &kp C   &kp D   &kp C   &kp D        &kp F   &kp G   &kp H                       &kp I

                &kp UP                             &kp LCLK      &kp HOME       &kp UP         &kp END      &mkp RCLK     &kp INT3
                &kp DOWN                           &mkp MB5      &kp LEFT       &kp DOWN       &kp RIGHT    &kp SEMI      &kp SQT
                &kp RIGHT  &kp PSCRN               &mkp MB4      &my_sp         &my_dq         &my_kakko    &my_sq  &kp RSHIFT
                &kp LEFT   &mkp LCLK  &mkp RCLK                                 &kp ESC        &kp RBKT     &kp NUHS      &kp LBKT
                &none      &mkp MCLK  &kp INT5     &my_br &kp LS(INT1)
                &kp C           &kp D   &kp E   &kp PSCRN           &kp G   &kp H &kp G   &kp H
            >;
            sensor-bindings = <&mouse_scroll2 SCRL_UP SCRL_DOWN &mouse_scroll SCRL_DOWN SCRL_UP>;
        };
        NUM {
            bindings = <
                &kp TAB     &kp Q      &kp W           &kp LG(UP)       &kp R           &kp LA(LS(TAB))                  &kp RIGHT
                &kp LALT    &kp A      &kp LG(LEFT)    &kp LC(LA(TAB))  &kp LG(RIGHT)   &kp LA(TAB)                      &kp LEFT
                &kp LSHIFT  &kp Z      &kp X           &kp LG(DOWN)     &kp LG(T)       &kp LG(TAB)         &kp C_MUTE   &kp DOWN
                &kp LCTRL   &kp LWIN   &kp LALT        &kp TAB                          &kp C_MUTE          &kp F13      &kp UP
                                                                   &kp BSPC   &kp SPACE &kp INT4            &kp F14      &none
                &kp C   &kp D  &kp C   &kp D         &kp F   &kp G   &kp H                       &kp I

                &kp UP                             &kp ASTRK         &kp N7       &kp N8    &kp N9       &kp MINUS     &kp INT3
                &kp DOWN                           &kp KP_SLASH      &kp N4       &kp N5    &kp N6       &kp PLUS      &kp SQT
                &kp RIGHT  &kp PSCRN               &kp SEMI          &kp N1       &kp N2    &kp N3       &kp CARET     &kp RSHIFT
                &kp LEFT   &mkp LCLK  &mkp RCLK                                   &kp N0    &kp KP_DOT      &kp COMMA     &kp LBKT
                &none  &mkp MCLK  &kp INT5  &kp ENTER   &kp MINUS
                &kp C           &kp D   &kp E   &kp PSCRN           &kp G   &kp H &kp G   &kp H
            >;
            sensor-bindings = <&mouse_scroll2 SCRL_UP SCRL_DOWN &mouse_scroll SCRL_DOWN SCRL_UP>;
        };
        AHK {
            bindings = <
                &kp TAB     &kp F15      &kp F16      &kp F17      &kp F18       &kp F19                  &kp RIGHT
                &kp LALT    &kp LC(F15)  &kp LC(F16)  &kp LC(F17)  &kp LC(F18)   &kp LC(F19)              &kp LEFT
                &kp LSHIFT  &kp LS(F15)  &kp LS(F16)  &kp LS(F17)  &kp LS(F18)   &kp LS(F19)   &kp C_MUTE &kp DOWN
                &kp LCTRL   &kp LWIN   &kp LALT &kp TAB                          &kp DEL       &kp ESC    &kp UP
                                                          &kp BSPC   &kp SPACE   &kp INT4      &kp PSCRN  &kp ENTER
                &kp C   &kp D   &kp C   &kp D        &kp F   &kp G   &kp H                       &kp I

                &kp UP                               &kp F20     &kp F21        &kp F22        &kp F23      &kp F24       &kp INT3
                &kp DOWN                             &kp LC(F20) &kp LC(F21)    &kp LC(F22)    &kp LC(F23)  &kp LC(F24)   &kp SQT
                &kp RIGHT  &kp PSCRN                 &kp LS(F20) &kp LS(F21)    &kp LS(F22)    &kp LS(F23)  &kp LS(F24)   &kp RSHIFT
                &kp LEFT   &mkp LCLK  &mkp RCLK                                 &kp TAB        &kp RBKT     &kp NUHS      &kp LBKT
                &none  &mkp MCLK  &lt_to_layer_0 1 INT5  &kp ENTER   &kp MINUS
                &kp C           &kp D   &kp E        &kp PSCRN           &kp G   &kp H &kp G   &kp H
            >;
            sensor-bindings = <&rot_kp C_VOL_DN C_VOL_UP &rot_kp C_VOL_DN C_VOL_UP>;
        };
        FUNCTION {
            bindings = <
                &kp TAB     &kp LS(N1)   &kp LS(N2)   &kp LS(N3)   &kp LS(N4)    &kp LS(N5)               &kp RIGHT
                &kp LALT    &kp LA(N1)   &kp LA(N2)   &kp LA(N3)   &kp LA(N4)    &kp LA(N5)               &kp LEFT
                &kp LSHIFT  &kp F1       &kp F2       &kp F3       &kp F4        &kp F5        &kp C_MUTE &kp DOWN
                &kp LCTRL   &kp LWIN   &kp LALT &kp TAB                          &kp DEL       &kp ESC    &kp UP
                                                          &kp BSPC   &kp SPACE   &kp INT4      &kp PSCRN  &none
                &kp C   &kp D  &kp C   &kp D         &kp F   &kp G   &kp H                       &kp I

                &kp UP                               &kp LS(N6)  &kp LS(N7)     &kp LS(N8)     &kp LS(N9)   &kp LS(N0)    &kp INT3
                &kp DOWN                             &kp LC(N6)  &kp LC(N7)     &kp LC(N8)     &kp LC(N9)   &kp LC(N0)    &kp SQT
                &kp RIGHT  &kp PSCRN                 &kp F6      &kp F7         &kp F8         &kp F9       &kp F10       &kp RSHIFT
                &kp LEFT   &mkp LCLK  &mkp RCLK                                 &kp TAB        &kp RBKT     &kp NUHS      &kp LBKT
                &none  &mkp MCLK  &lt_to_layer_0 1 INT5  &kp ENTER   &kp MINUS
                &kp C           &kp D   &kp E        &kp PSCRN           &kp G   &kp H &kp G   &kp H
            >;
            sensor-bindings = <&rot_kp C_VOL_DN C_VOL_UP &rot_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
